body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2 {
  position:absolute;
  left:1130px;
  top:558px;
  width:12px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1130px;
  top:558px;
  width:13px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(240, 173, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue LT Pro 55 Roman', 'Helvetica Neue LT Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5 {
  position:absolute;
  left:1189px;
  top:569px;
  width:353px;
  height:45px;
  font-family:'Helvetica Neue LT Pro 55 Roman', 'Helvetica Neue LT Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 135, 24, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue LT Pro 55 Roman', 'Helvetica Neue LT Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5.mouseOver {
}
#u5_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 135, 24, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Helvetica Neue LT Pro 55 Roman', 'Helvetica Neue LT Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:349px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1189px;
  top:458px;
  width:342px;
  height:41px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:1189px;
  top:398px;
  width:342px;
  height:44px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
}
#u10 {
  position:absolute;
  left:820px;
  top:398px;
  width:278px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:274px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12 {
  position:absolute;
  left:1072px;
  top:408px;
  width:18px;
  height:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#05577D;
}
#u14 {
  position:absolute;
  left:229px;
  top:21px;
  width:570px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#05577D;
}
#u15 {
  position:absolute;
  left:2px;
  top:19px;
  width:566px;
  word-wrap:break-word;
}
